[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundles/vim-coffee-script"]
	path = vim/bundles/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
