[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundles/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/nerd-tree-tabs"]
	path = vim/bundle/nerd-tree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/bundle/fuzzy-finder"]
	path = vim/bundle/fuzzy-finder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/l9"]
	path = vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
